/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Asterisk Wildcard Selector to override default styles added by browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General page styles */

body {
    /* Use flexbox to create a full-height layout */
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    display: flex;
    flex-direction: column;
    /* General font styles */
    font-family: 'Ysabeau Office', sans-serif;
    color: #3a3a3a;
}

/* Header styles */

header {
    /* look for background image to use here */
    background-color: #ffffff;
    padding: 0 1rem; /* Add padding to the header */
    position: fixed; /* Fix the header to the top of the viewport */
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 4px #000080; /* Add shadow for header */
    display:flex; 
    justify-content: space-between; /* Space between logo and menu */
    align-items: baseline; /* Center items vertically */
}

header a {
    /* Style links in the header */
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 500;
    margin-right: 1rem; /* Add space between links */
}

#logo {
    /* Center the logo horizontally */
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #000080;
    letter-spacing: 1px;
}

#menu {
    /* Style list items in the menu */
    list-style: none; /* Remove default list styling */
    letter-spacing: 2px;
    font-size: 110%;
}

#menu li {
    margin-bottom: 10px;
}

.menu-toggle-label {
    font-size: 2rem; /* Increase font size for the menu toggle */
}

.active {
    /* Style for active links */
    color: #000080; /* Tomato color for active link */
    font-weight: bold;
    border-bottom: 2px solid black; /* Underline effect */
}

/* Navigation dropdown styles */

nav {
    position: absolute; /* Position relative for dropdown */
    background-color: #ffffff; /* Background color for dropdown */
    width: 100%; /* Full width for dropdown */
    padding: 0 1rem; /* Add padding to the dropdown */
    display: none; /* Hide dropdown by default */
    top: 100%;
    left: 0; /* Align dropdown to the left */
    box-shadow: 0 2px 4px #000080; /* Add shadow for dropdown */
}

/* Nav-toggle styles */

#menu-toggle:checked~nav {
    display: block; /* Show dropdown when toggle is checked */
}

#menu-toggle {
    display: none; /* Hide the checkbox input */
}

/* Main content styles */
main {
    /* Make main element take up any surplus space and push footer down*/
    flex: 1 0 auto;
    margin-top: 47px; /* Offset for fixed header */
}

.welcome-text {
    /* Style for welcome text */
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem; /* Font size for welcome text */
    color: #ffffff; /* Use a white for welcome text */
    margin: 1rem; /* Add margin around welcome text */
    text-align: center; /* Center the welcome text */
    text-transform: uppercase; /* Transform text to uppercase */
    margin-top: 0px; /* Add top margin for spacing */
    position: relative; /* Position relative for welcome text */
    z-index: 10; /* Ensure welcome text is above the background */
}

#welcome-background-color {
    /* Style for welcome text color */
    background-color: #000080; /* Dark blue background for welcome text */
    width: 100%; /* Full width for welcome text */
    height: 400px; /* Fixed height for welcome text */
    margin-left: 0; /* Align to the left */
    opacity: 0.2; /* Semi-transparent background */
    position: absolute; /* Position absolute for background */
    z-index: 5; /* Ensure background is below the welcome text */
}

/* Header Image Styles */

#main-image {
    width: 100%; /* Full width for header image */
    height: 400px; /* Fixed height for header image */
    background: url('../images/header-picture.jpg'); /* Background image for header */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    box-shadow: 0 2px 4px #000080; /* Add shadow for header image */
    margin-top: 0; /* Remove top margin for header image */
}



/* Footer styles */

footer {
    background-color: white;
    display: flex;
    justify-content: center; /* Center footer content */
}

div #social-icons {
    display: flex;
    justify-content: center; /* Center social icons */
    padding: 1rem; /* Add padding to the footer */
    gap: 1rem; /* Add space between social icons */
}

/* Meduia Queries for Responsive Design */

/* Responsive design for mobiles and larger screens */
@media screen and (min-width: 360px) {

    .welcome-text {
        font-size: 1.2rem; /* Adjust font size for welcome text */
        margin-top: 0; 
    }

    main {
        margin-top: 44px; /* Adjust top margin for main content */
    }

    #main-image {
        height: 300px; /* Adjust height for header image */
        display: flex; /* Use flexbox for header image */
        align-items: center; /* Center content vertically */
        justify-content: center; /* Center content horizontally */
    }

}

/* Responsive design for tablets and larger screens */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: inline-block;
        position : relative; 
        width: fit-content; 
        padding-right: 1rem; /* Add padding to the right */
        box-shadow: none; /* Remove shadow for larger screens */
        margin: auto; /* Center the nav */
    }

    #menu {
        display: flex; /* Use flexbox for horizontal layout */
        flex-direction: row; /* Arrange items in a row */
        align-items: center; /* Center items vertically */
    }

    .menu-toggle-label {
        display: none; /* Hide the menu toggle label on larger screens */
    }

    main {
        margin-top: 75px; /* Remove top margin for main content */
    }

    #logo {
        font-size: 1.8rem; /* Increase logo font size */
        line-height: 75px; /* Adjust line height for better spacing */
    }


}

/* Responsive design for laptops and larger screens */
@media screen and (min-width: 992px) {
    /* Header */
     nav {
        display: inline-block;
        position : relative; 
        width: fit-content; 
        padding-right: 1rem; /* Add padding to the right */
        box-shadow: none; /* Remove shadow for larger screens */
    } 

    main {
        margin-top: 75px; /* Remove top margin for main content */
    }

    #logo {
        font-size: 2.5rem; /* Increase logo font size */
        line-height: 75px; /* Adjust line height for better spacing */
        margin: 0 0.5rem;
    }

    #menu a:hover {
        /* Style for links on hover */
        color: #000080; 
        border-bottom: 2px solid black; /* Underline effect on hover */
    }
}

/* Responsive design for desktops and larger screens */
@media screen and (min-width: 1280px) {   
}